<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://d3o3d9viu00ouz.cloudfront.net/fifa/v0.3.7.1611/components/abbvoice-font/abbvoice-font.css?h=a0d39d9c" rel="stylesheet" type="text/css">
    <style>
    .abb-content-block--indented__heading {
        color: #262626;
        font-family: ABBvoice;
        font-size: 50px;
        font-weight: 300;
        line-height: 63px;
        margin-bottom: 10px;
    }

    .abb-table {
        color: #262626;
        font-family: ABBvoice;
        font-size: 20px;
        line-height: 25px;
    }

    #map {
        width: 1203px;
        height: 404px;
        margin-top: 20px;
    }
    </style>

</head>
<body>
    <div>
        <h4 class="abb-content-block--indented__heading"><span property="name">ABB Stotz-Kontakt GmbH</span>&nbsp;<i data-abb-sf-headquarter-icon="{{@id}}" style="display:none;" class="abb-badge abb-badge--secondary">HQ</i></h4>
        <div role="tabpanel" aria-labelledby="panel_{{@id}}-heading">
            <table class="abb-table">
                <thead></thead>
                <tbody>
                    <tr>
                        <td>Address:</td>
                        <td>
                            <span property="streetAddress">Max-Planck-Str.24</span>
                            <br />
                            <span property="postalCode">78549</span>
                            <span property="addressLocality">Spauchingen</span>
                            <br />
                            <span property="addressRegion">Baden-Wurttemberg</span>
                         </td>
                    </tr>
                    <tr data-abb-sf-template-item-parentelement>
                        <td>Phone</td>
                        <td data-abb-sf-template-item-childelement>+49 7424 958650</td>
                    </tr>
                    <tr data-abb-sf-template-item-parentelement>
                        <td>Fax</td> 
                        <td data-abb-sf-template-item-childelement>+49 74249586599</td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>
        <div id="map"></div>
<script src="https://d3o3d9viu00ouz.cloudfront.net/fifa/v0.3.7.1611/components/google-map-styling/google-map-styling.js?h=b22770b3"></script>

<script>
    function initMap() {
        var location = {lat: 48.066130, lng: 8.744450};

         var map_options_styles_gray = [
        {
            "featureType": "all",
            "elementType": "all",
            "stylers": [
                {
                    "saturation": "-100"
                }
            ]
        },
        {
            "featureType": "all",
            "elementType": "geometry.fill",
            "stylers": [
                {
                    "color": "#d2d2d2"
                },
                {
                    "visibility": "on"
                }
            ]
        },
        {
            "featureType": "all",
            "elementType": "labels",
            "stylers": [
                {
                    "visibility": "on"
                },
                {
                    "lightness": "-5"
                }
            ]
        },
        {
            "featureType": "all",
            "elementType": "labels.icon",
            "stylers": [
                {
                    "visibility": "simplified"
                }
            ]
        },
        {
            "featureType": "administrative.province",
            "elementType": "all",
            "stylers": [
                {
                    "visibility": "off"
                }
            ]
        },
        {
            "featureType": "poi",
            "elementType": "geometry",
            "stylers": [
                {
                    "visibility": "on"
                },
                {
                    "lightness": "-15"
                }
            ]
        },
        {
            "featureType": "poi",
            "elementType": "labels",
            "stylers": [
                {
                    "visibility": "off"
                }
            ]
        },
        {
            "featureType": "poi.park",
            "elementType": "all",
            "stylers": [
                {
                    "visibility": "simplified"
                },
                {
                    "lightness": "48"
                }
            ]
        },
        {
            "featureType": "poi.park",
            "elementType": "labels",
            "stylers": [
                {
                    "visibility": "off"
                }
            ]
        },
        {
            "featureType": "road",
            "elementType": "all",
            "stylers": [
                {
                    "visibility": "on"
                },
                {
                    "lightness": "-10"
                }
            ]
        },
        {
            "featureType": "road",
            "elementType": "geometry.stroke",
            "stylers": [
                {
                    "saturation": "0"
                },
                {
                    "lightness": "-7"
                }
            ]
        },
        {
            "featureType": "road",
            "elementType": "labels",
            "stylers": [
                {
                    "visibility": "simplified"
                },
                {
                    "lightness": "5"
                }
            ]
        },
        {
            "featureType": "road.highway",
            "elementType": "geometry.stroke",
            "stylers": [
                {
                    "lightness": "11"
                }
            ]
        },
        {
            "featureType": "transit",
            "elementType": "all",
            "stylers": [
                {
                    "visibility": "off"
                }
            ]
        },
        {
            "featureType": "water",
            "elementType": "all",
            "stylers": [
                {
                    "visibility": "on"
                },
                {
                    "color": "#ffffff"
                }
            ]
        },
        {
            "featureType": "water",
            "elementType": "labels",
            "stylers": [
                {
                    "visibility": "simplified"
                },
                {
                    "color": "#6e6e6e"
                }
            ]
        }
    ];
        var map = new google.maps.Map(document.getElementById("map"), { 
            zoom: 10, 
            center: location,
            styles: map_options_styles_gray
        });
        var marker = new google.maps.Marker({
            position: location, 
            map: map
        });

        marker.addListener('click', function() {
            infowindow.open(map, marker);
        });

        var contentString = '<div><h2>ABB Stotz-Kontakt GmbH</h1></div>' + '<div>' + '<p>Address: Max-Planck-Str.24</p>' + '<p>78549 Spauchingen</p>' + 
                            '<p>Baden-Wurttemberg</p>' + '<p>Phone: +49 7424 958650</p>' + '<p>Fax: +49 74249586599</p>' + '</div>'
        
        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });

        
    }
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7k6vGszL9sVO_X9ZqBwnvuKRk822OnZ4&callback=initMap"></script> 
   
</body>
</html>


